html{
    width: 100%;
    height: 100%;
}

body{
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#cntPadre{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: beige;
}
/* Capa inferior consola */
#capaInferior{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.lateralesInferior{
    width: 5em;
    height: 30em;
   
}
#parteIzquierdaInferior{ 
    overflow: hidden;
}
#circuloIzquierdoInferior{
    width: 72em;
    height: 72em;
    margin-top: -21em;
    margin-left: 1.6em;
    background-color: rgb(26, 25, 25);
    border-radius: 50%;
}
#parteCentralInferior{
    display: flex;
    width: 41em;
    height: 30em;
    background-color:rgb(26, 25, 25);
}
#parteDerechaInferior{
    transform: rotate(180deg);
    overflow: hidden;
}
#circuloDerechoInferior{
    width: 72em;
    height: 72em;
    margin-top: -21em;
    margin-left: 1.6em;
    background-color: rgb(26, 25, 25);
    border-radius: 50%;
    transform: rotate(180deg);
    
}

/* Conjunto pad cruzeta atributos generales*/
.conjuntoPad{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: rgb(56, 55, 55) 17px solid;
   
    
}
.padCruzeta{
    margin: -0.1em 0em 0em -0.1em;
    width: 9em;
    height: 9em;
    border-radius: 50%;
    border: rgb(207, 206, 206) solid 10px;
    background-color: rgb(40, 41, 40);
    box-shadow: inset 0.2em 0.3em 0.4em -0.1em rgb(12, 12, 12), 0.7em 0.3em 0.4em 0.1em rgb(12, 12, 12);
    
}

.conjunto1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 9em;
    height: 9em;
    margin: 0.25em 0em 0em 0em;
    
}
.conjunto2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -9.1em 0em 0em 0em;
    width: 9em;
    height: 9em;
    transform: rotate(90deg);
    
}

/* Conjunto pad cruzetaatributos individuales */
#conjuntoPadDerecho{
    margin: 17em 0em 0em 0em;
}
#conjuntoPadIzquierdo{
    margin: 17em 0em 0em 0em; /* -0.1*/
}

/* Dibujo boton de la cruceta de dirección */
.botonDireccion1{
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 2em;
    height: 2em;
    margin: -0.1em 0em 0em 1.2em;
    border-radius: 20%;
    box-shadow: inset 0.4em 0.2em 0.4em -0.1em rgb(88, 85, 85);
    
}
#flechaDireccion{
    width: 1.2em;
    height: 1.2em;
    margin: 0.35em 0em 0em 0.3em; 
    filter: invert(94%) sepia(19%) saturate(0%) hue-rotate(82deg) brightness(112%) contrast(100%);
    transform: rotate(90deg);
}

.botonForma1-1{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 1.2em;
    height: 2em;
    margin: 0em 0em 0em 1.6em;
    overflow: hidden;
}
.botonForma1-2{
    display: flex;
    flex-direction: row;
    position: absolute;
    background-color: black;
    width: 1.55em;
    height: 1.55em;
    margin: 0.22em 0em 0em -0.65em;
    border-radius: 20%;
    transform: rotate(45deg);
    box-shadow: inset 0.1em 0.2em 0.4em -0.1em rgb(88, 85, 85);
}
.botonDireccion2{
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 2em;
    height: 2em;
    margin: 0em 1.2em 0em 0em;
    border-radius: 20%;
    transform: rotate(180deg);
    box-shadow: inset 0.4em 0.2em 0.4em -0.1em rgb(88, 85, 85);
}
.botonForma2-1{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 1.2em;
    height: 2em;
    margin: 0em 0em 0em 1.6em;
    overflow: hidden;
}
.botonForma2-2{
    display: flex;
    flex-direction: row;
    position: absolute;
    background-color: black;
    width: 1.55em;
    height: 1.55em;
    margin: 0.22em 0em 0em -0.65em;
    border-radius: 20%;
    transform: rotate(45deg);
    box-shadow: inset 0.1em 0.2em 0.4em -0.1em rgb(88, 85, 85);
}

/* Dibujo botones de acción */
.botonAccion1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 2.3em;
    height: 2.3em;
    margin: -0.1em 0em 0em 0.6em;
    border-radius: 50%;
    padding: 0;
    box-shadow: inset 0.4em 0.2em 0.7em -0.1em rgb(88, 85, 85);
}
.botonAccion2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black;
    width: 2.3em;
    height: 2.3em;
    margin: 0em 0.6em 0em 0em;
    border-radius: 50%;
    box-shadow: inset 1em 0.8em 0.7em -0.1em rgb(88, 85, 85);
}
#cuadrado{
    width: 1em;
    height: 1em;
    border: white solid 2px;
}
#redonda{
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    border: white solid 2px;
}
#triangulo{
    scale: .08;
    filter: invert(94%) sepia(19%) saturate(0%) hue-rotate(82deg) brightness(112%) contrast(100%);
    transform: rotate(90deg);
    width: 20em;
    height: 30em;
    margin-left: -0.2em;
}
#equis{
    scale: .04;
    filter: invert(94%) sepia(19%) saturate(0%) hue-rotate(82deg) brightness(112%) contrast(100%);
    transform: rotate(90deg);
}


/* Dibujo Joystick */
#joystick{
    width: 6em;
    height: 6em;
    margin: 22em 0em 0em 0em;
    border-radius: 50%;
    border: black  0.7em solid;
    background-color: rgb(51, 50, 50);  
}
#interiorJoystick{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    margin: 1em 0em 0em 1em;
    background-color: black;
    box-shadow: inset 0.1em 0.3em 0.7em -0.2em rgb(216, 202, 202), 0.1em 0.3em 0.7em -0.2em rgb(216, 202, 202);
}
#selectstart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6em;
    height: 6em;
    margin: 22em 0em 0em 2em;
    border-radius: 50%;
    border: black  0.7em solid;
    background-color: rgb(51, 50, 50);
}

#btnSelect{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 80%;
    height: 40%;
    font-size: 0.70em;
    background-color: rgb(10, 10, 10);
    color: rgb(182, 178, 178);
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    margin-top: 0.1em;
    box-shadow: inset 0.3em 0.2em 0.5em -0.2em rgb(216, 202, 202), 0.1em 0.2em 0.3em -0.2em rgb(216, 202, 202);
}

#btnStart{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 80%;
    height: 40%;
    font-size: 0.70em;
    background-color: rgb(10, 10, 10);
    color: rgb(182, 178, 178);
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
    margin-top: 0.5em;
    box-shadow: inset 0.3em 0.2em 0.5em -0.2em rgb(216, 202, 202), 0.1em 0.2em 0.3em -0.2em rgb(216, 202, 202);
    
}

/* Capa superior consola */
#capaSuperior{
    position: absolute;
    display: flex;
    /*background-color: aqua;*/
    margin-top: 14.3em;
    margin-left: 34.5em;
}

.lateralesSuperior{
    width: 5em;
    height: 30em;
    overflow: hidden;
}

#circuloIzquierdoSuperior{
    display: flex;
    width: 100em;
    height: 72em;
    margin-top: -21em;
    margin-left: 0.4em;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    overflow: hidden;
    box-shadow: inset 0.1em 0.6em 0.4em -0.1em rgb(216, 210, 210);
}

#parteCentralSuperior{
    display: flex;
    flex-direction: column;
    width: 41em;
    height: 30em;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(20, 20, 20);
    box-shadow: inset 0em 0.5em 0.3em -0.3em rgb(216, 210, 210);
}
#logoSony{
    height: 2em;
    margin-top: -0.8em;
    margin-bottom: 0.5em;
    user-select: none;
    scale: 1.54;
    filter: invert(94%) sepia(19%) saturate(0%) hue-rotate(82deg) brightness(112%) contrast(100%);
}
#cntDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    border-radius: 0.3em;
    background-color: rgb(30, 32, 30);
}
#display{
    width: 97%;
    height: 87%;
    background-color: rgb(100, 99, 99);
    border-radius: 0.3em;
}
#logoPsp{
    height: 2em;
    margin-top: 0.4em;
    user-select: none;
    scale: 4;
    filter: invert(94%) sepia(19%) saturate(0%) hue-rotate(82deg) brightness(112%) contrast(100%);
}
#btnEncendido{
    width: 3em;
    height: 4em;
    margin: 40em 0em 0em 0.80em;  
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 0em ;
    border-bottom-left-radius: 0em;
    background-color: rgb(31, 29, 29);
    transform: rotate(-14deg);
    cursor: pointer;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-width: 0.2em;
    border-color: rgb(95, 86, 86);   
    overflow: hidden;
}
#btnLogo{
    width: 90%;
    height: 90%;
    scale: .8;
    border-radius: 50%;
    filter: invert(94%) sepia(19%) saturate(0%) hue-rotate(82deg) brightness(112%) contrast(100%);
    transform: rotate(12deg);
}
#ledEncendido{
    width: 1.5em;
    height: 0.8em;
    margin: 27em 0em 0em -2.7em;
    border-radius: 2em;
    background-color: white
}
#parteDerechaSuperior{
    transform: rotate(180deg);
}
#circuloDerechoSuperior{
    width: 100em;
    height: 72em;
    margin-top: -21em;
    margin-left: 0.4em;
    border-radius: 50%;
    transform: rotate(180deg);
    background-color: rgb(20, 20, 20);
    box-shadow: inset 0.2em 0.6em 0.6em 0em rgb(216, 210, 210);
}
